---
http_interactions:
- request:
    method: get
    uri: https://index-dc3dev.bpl.org/solr/curator_staging/select?defType=lucene&f.collection_name_ssim.facet.limit=9&f.collection_name_ssim.facet.sort=count&f.genre_basic_ssim.facet.limit=21&f.genre_basic_ssim.facet.sort=count&f.name_facet_ssim.facet.limit=9&f.name_facet_ssim.facet.sort=count&f.physical_location_ssim.facet.limit=9&f.physical_location_ssim.facet.sort=count&f.reuse_allowed_ssi.facet.excludeTerms=all%20rights%20reserved,contact%20host&f.reuse_allowed_ssi.facet.limit=9&f.reuse_allowed_ssi.facet.sort=count&f.subject_facet_ssim.facet.limit=9&f.subject_facet_ssim.facet.sort=count&f.subject_geographic_sim.facet.limit=9&f.subject_geographic_sim.facet.sort=count&facet=true&facet.field=reuse_allowed_ssi&facet.query=georeferenced_allmaps_bsi:false%20OR%20(*:*%20NOT%20georeferenced_allmaps_bsi:%5B*%20TO%20*%5D)&fl=*&fq=%2Bcurator_model_suffix_ssi:%22Collection%22&q=%7B!lucene%7DNOT%20*:*&qt=search&rows=100&sort=title_info_primary_ssort%20asc,%20date_start_dtsi%20asc&spellcheck=false&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 03 Jan 2026 19:17:25 GMT
      Etag:
      - '"ODM0ZTc4MDAwMDAwMDAwMFNvbHI=--gzip"'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "responseHeader":{
            "status":0,
            "QTime":0,
            "params":{
              "f.name_facet_ssim.facet.sort":"count",
              "f.physical_location_ssim.facet.sort":"count",
              "f.collection_name_ssim.facet.limit":"9",
              "fl":"*",
              "fq":["+destination_site_ssim:\"nblmc\"",
                "-publishing_state_ssi:\"draft\"",
                "-publishing_state_ssi:\"needs_review\"",
                "-processing_state_ssi:\"derivatives\"",
                "+curator_model_suffix_ssi:\"Collection\""],
              "facet.query":["georeferenced_allmaps_bsi:true",
                "georeferenced_allmaps_bsi:false OR (*:* NOT georeferenced_allmaps_bsi:[* TO *])"],
              "f.subject_geographic_sim.facet.limit":"9",
              "defType":"lucene",
              "f.name_facet_ssim.facet.limit":"9",
              "wt":"json",
              "f.genre_basic_ssim.facet.limit":"21",
              "facet.field":["physical_location_ssim",
                "subject_geographic_sim",
                "subject_facet_ssim",
                "date_facet_yearly_itim",
                "name_facet_ssim",
                "genre_basic_ssim",
                "collection_name_ssim",
                "reuse_allowed_ssi"],
              "qt":"search",
              "f.collection_name_ssim.facet.sort":"count",
              "f.genre_basic_ssim.facet.sort":"count",
              "sort":"title_info_primary_ssort asc, date_start_dtsi asc",
              "f.reuse_allowed_ssi.facet.excludeTerms":"all rights reserved,contact host",
              "rows":"100",
              "f.reuse_allowed_ssi.facet.limit":"9",
              "q":"{!lucene}NOT *:*",
              "f.reuse_allowed_ssi.facet.sort":"count",
              "f.subject_facet_ssim.facet.limit":"9",
              "spellcheck":"false",
              "f.physical_location_ssim.facet.limit":"9",
              "f.subject_geographic_sim.facet.sort":"count",
              "f.subject_facet_ssim.facet.sort":"count",
              "facet":"true"}},
          "response":{"numFound":0,"start":0,"numFoundExact":true,"docs":[]
          },
          "facet_counts":{
            "facet_queries":{
              "georeferenced_allmaps_bsi:true":0,
              "georeferenced_allmaps_bsi:false OR (*:* NOT georeferenced_allmaps_bsi:[* TO *])":0},
            "facet_fields":{
              "physical_location_ssim":[],
              "subject_geographic_sim":[],
              "subject_facet_ssim":[],
              "date_facet_yearly_itim":[],
              "name_facet_ssim":[],
              "genre_basic_ssim":[],
              "collection_name_ssim":[],
              "reuse_allowed_ssi":[]},
            "facet_ranges":{},
            "facet_intervals":{},
            "facet_heatmaps":{}}}
  recorded_at: Tue, 06 Jan 2026 20:46:01 GMT
- request:
    method: get
    uri: https://index-dc3dev.bpl.org/solr/curator_staging/select?f.collection_name_ssim.facet.limit=9&f.collection_name_ssim.facet.sort=count&f.genre_basic_ssim.facet.limit=21&f.genre_basic_ssim.facet.sort=count&f.name_facet_ssim.facet.limit=9&f.name_facet_ssim.facet.sort=count&f.physical_location_ssim.facet.limit=9&f.physical_location_ssim.facet.sort=count&f.reuse_allowed_ssi.facet.excludeTerms=all%20rights%20reserved,contact%20host&f.reuse_allowed_ssi.facet.limit=9&[...]
