---
http_interactions:
- request:
    method: get
    uri: https://index-dc3dev.bpl.org/solr/curator_staging/get?ids=bpl-dev:rn301202h&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 22 Jan 2026 14:36:22 GMT
      Etag:
      - '"MWFjZTc4MDAwMDAwMDAwMFNvbHI=--gzip"'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "response":{"numFound":1,"start":0,"numFoundExact":true,"docs":[
              {
                "id":"bpl-dev:rn301202h",
                "system_create_dtsi":"2022-02-18T16:52:24Z",
                "system_modified_dtsi":"2022-02-18T16:54:54Z",
                "curator_model_ssi":"Curator::DigitalObject",
                "curator_model_suffix_ssi":"DigitalObject",
                "title_info_primary_tsi":"Base map of Illinois",
                "genre_basic_ssim":["Maps"],
                "date_tsim":["1924"],
                "date_type_ssm":["dateCreated"],
                "date_edtf_ssm":["1924"],
                "date_start_dtsi":"1924-01-01T00:00:00Z",
                "date_end_dtsi":"1924-12-31T23:59:59.999Z",
                "name_tsim":["Geological Survey (U.S.)",
                  "Illinois State Geological Survey"],
                "name_role_tsim":["Cartographer",
                  "Cartographer"],
                "name_facet_ssim":["Geological Survey (U.S.)",
                  "Illinois State Geological Survey"],
                "related_item_host_ssim":["Norman B. Leventhal Map Center Collection"],
                "subject_topic_tsim":["Illinois--Maps"],
                "subject_facet_ssim":["Illinois--Maps"],
                "subject_coordinates_geospatial":["40,-89",
                  "ENVELOPE(-91.5, -87.5, 42.5, 37.0)"],
                "subject_point_geospatial":["40,-89"],
                "subject_bbox_geospatial":["ENVELOPE(-91.5, -87.5, 42.5, 37.0)"],
                "subject_geojson_facet_ssim":["{\"type\":\"Feature\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[-89.0,40.0]},\"properties\":{\"placename\":\"Illinois\"}}",
                  "{\"type\":\"Feature\",\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-91.5,37.0],[-87.5,37.0],[-87.5,42.5],[-91.5,42.5],[-91.5,37.0]]]},\"bbox\":[-91.5,37.0,-87.5,42.5]}"],
                "subject_hiergeo_geojson_ssm":["{\"type\":\"Feature\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[-89.0,40.0]},\"properties\":{\"continent\":\"North and Central America\",\"country\":\"United States\",\"state\":\"Illinois\"}}"],
                "physical_location_ssim":["Boston Public Library"],
                "sub_location_tsi":"Norman B. Leventhal Map Center",
                "identifier_uri_ss":"https://ark-dc3dev.bpl.org/ark:/50959/rn301202h",
                "identifier_iiif_manifest_ss":"https://ark-dc3dev.bpl.org/ark:/50959/rn301202h/manifest",
                "identifier_local_other_tsim":["06_01_017009"],
                "identifier_local_call_tsim":["G4101.A1 1924 .I45"],
                "identifier_local_barcode_tsim":["39999065681304"],
                "note_resp_tsim":["State Geological Survey Division, prepared in cooperation with the United States Geological Survey"],
                "note_tsim":["Relief shown by spot heights."],
                "scale_tsim":["Scale 1:500,000. Approx. 8 miles to 1 inch"],
                "rights_ss":"No known copyright restrictions.",
                "license_ss":"No known restrictions on use.",
                "reuse_allowed_ssi":"no restrictions",
                "digital_origin_ssi":"reformatted_digital",
                "extent_tsi":"1 map : color ; 125 x 72 cm",
                "publisher_tsi":"The Survey",
                "pubplace_tsi":"[Urbana, Ill.]",
                "resource_type_manuscript_bsi":false,
                "type_of_resource_ssim":["Cartographic"],
                "lang_term_ssim":["English"],
                "publishing_state_ssi":"published",
                "processing_state_ssi":"complete",
                "destination_site_ssim":["commonwealth",
                  "bpl",
                  "nblmc"],
                "hosting_status_ssi":"hosted",
                "harvesting_status_bsi":true,
                "exemplary_image_ssi":"bpl-dev:ns064667c",
                "exemplary_image_key_base_ss":"images/bpl-dev:ns064667c",
                "admin_set_name_ssi":"Norman B. Leventhal Map Center Collection",
                "admin_set_ark_id_ssi":"bpl-dev:000000000",
                "institution_name_ssi":"Boston Public Library",
                "institution_ark_id_ssi":"bpl-dev:4q77fr32b",
                "collection_name_ssim":["Norman B. Leventhal Map Center Collection"],
                "collection_ark_id_ssim":["bpl-dev:000000000"],
                "filenames_ssim":["06_01_017009"],
                "mods_xml_ss":"eJztGNtu2zb0vV9B6GkDoqvtOPYaFW26FQGStqgTYNgwFDRFS2wlUiApO/77HcqULcmXXDagexhgKzF57vej128eihwtqVRM8Esn9AIHUU5Ewnh66dzf/eZeOG/iV68LkaipeSCA52r6kDP+/dLJtC6nvr9arbzVwBMy9cPJZOLXt04DqtghwCgIQv/325sZyWiBXcaVxpzQBsvw6qDlgnipWPrmwl8OnJ3QA28MWIpNVU3qRhCs64vj2OjAleGfYAn3Fqj+6w7csfegEid+hdDGDJrpnF7zhUCVwim9dErJCizXDkqYKnO8vsFzmm+Pv9rTmkKHRvwOK4oKXCKxQNc5GE0w9dpvARiefpfpTg6OC4r0ugQJiJClkFiD+XClMyGZXl86HC9av++/XG9NwpKt2s09o8o3FBVYFucVfSq4zy+CYBKF40FHQXP3GUsdf6AiFykjOEezSi7pGv107828n61eW7gWrhQb1bsnd1QWVl1NH3R[...]
