.educators-map-sets-section {
  
  @media (min-width: $screen-md) {
    .featured-collection-content {
      margin: 3rem;
    }
  }
}

.educators-featured-map-set {
  padding: 0;

  .featured-collection {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.bps-resources {
  background-color: #fff;

  section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

   img {
    max-width: 160px;
   }

   .section-title {
    margin-top: 15px;
   }
}

.blacklight-educators-search .search-header-form {
  margin-top: 0;
  margin-bottom: 1rem;
}

.blacklight-educators-search {
  h1 {
    text-align: left;
    margin-left: 10px;
  }

  section {
    padding-top: 20px;
  }

  .educators-search-header {
    padding-top: 1rem;
    padding-bottom: 0;
  }

  .description {
      display: none;
  }
}

.educators-search-thumbnails .thumbnail {
  min-height: 6rem;

  > a {
    height: 100%;
    width: 16rem;
    position: absolute;

    &:before,
    &:after {
      display: none !important;
    }
  }

  .caption {
    padding: 1rem;
    padding-left: 18rem;
    padding-right: 4rem;
  }
}

.blacklight-educators-index {
    .btn-primary {
        margin: 10px
    }
}
