.featured-exhibit {
  padding: 0;

  @media (min-width: $screen-sm) {
    .item {
      height: 50rem;

      .container {
        height: 100%;
      }
    }

    .featured-collection-content {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
      width: 100%;
      box-shadow: 0 20px 20px 0 rgba(black, .2);
    }
  }
  @media (max-width: $screen-sm - 1) {
    .featured-collection-content {
      margin-top: 7rem;
      margin-bottom: 7rem;
      width: 90%;
      box-shadow: 0 20px 20px 0 rgba(black, .2);
    }
  }

  .carousel-controls {
    position: absolute;
    right: 0;
    bottom: 0;

    > a {
      padding: 1.5rem;
      border: 1px solid #ddd;
      background: #fff;
      color: $lmc-blue;
      display: block;
      float: left;
    }

    .next {
      margin-left: -1px;
    }
  }
}

.carousel-fade {
  .carousel-inner {
    .item {
      transition-property: opacity;
    }
    
    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }

    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
  }

  .carousel-control {
    z-index: 2;
  }
}

/*
  This is an accessiblity button that adds itself in via: 
  https://github.com/boston-library/commonwealth-vlr-engine/blob/343c8485d252e582d91ea1744dab8be9e67f33b3/app/assets/javascripts/bootstrap-accessibility-plugin/bootstrap-accessibility.js

  I would like to keep it in order to maintain accessibility but it doesn't need to be visible on screen.
*/
.carousel-pause-button {
  position: absolute;
  top: 0;
  z-index: 0;
  left: -9999rem;
}

.exhibit-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.exhibit-panel {
  overflow: hidden;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 7px 20px rgba(black, 0.1);
  box-shadow: 0 7px 20px rgba(black, 0.1);
  -webkit-flex-basis: 48%;
      -ms-flex-preferred-size: 48%;
          flex-basis: 48%;
  margin: 1.5rem 1%;
  position: relative;
  transition: .2s all ease-in-out;
  
  /* IE 10+ hacks */
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    margin: 1.5rem 5px;
  }

  &:hover {
    box-shadow: none;
    border-color: $lmc-blue;
  }

  &.center-block {
    margin: 1.5rem auto;
  }

  @media (max-width: $screen-sm - 1) {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 100%;
    margin: 1.5rem auto;
  }

  .panel-img {
    overflow: hidden;
    height: 20rem;
    position: relative;

    > img {
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translate(-50%);
          -ms-transform: translate(-50%);
              transform: translate(-50%);
      min-width: 100%;
      min-height: 100%;
      max-width: auto;
    }
  }

  .admin-options {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    background: #fff;
    border: 1px solid;
    z-index: 10;
  }

  .exhibit-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
  }

  h4 {
    line-height: 1.8;
  }
}

.exhibit-unpublished {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 10;
  background: $brand-warning;
  padding: 4px;
  border-radius: 2px;
  color: white;
  border: 1px solid darken($brand-warning, 5%);
}

.exhibit-list.featured-exhibit-list {

  .exhibit-panel {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-flex-basis: 48%;
        -ms-flex-preferred-size: 48%;
            flex-basis: 48%;
    border-radius: 10px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      background: rgba(black, .35);
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .panel-img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: inherit;
    }

    .panel-body {
      position: relative;
      z-index: 2;
      min-height: 30rem;
      padding: 3rem;
      text-shadow: 0 1px 2px black;

      p, h4, small {
        color: #fff;
      }
    }

    @media (max-width: $screen-sm - 1) {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 100%;
      margin: 1.5rem auto;
    }
  }
}

.exhibit-page-list {
    &:empty {
        text-align: center;
        &:before {
            content: 'No pages added yet!';
        }
    }

    .exhibit-page:not(.active) {
        display: none;
    }
}

.exhibit-navigation {
    .nav:empty:before {
        content: 'No pages added yet!';
    }

    .nav-pills > li.active > a:last-of-type {
      color: $lmc-blue;
      border-radius: 4px;
      border: 1px solid $lmc-blue;
      background: none;
    }
}
.page-nav {
    .page-delete + a {
        margin-right: 45px;
    }
    .page-delete {
        position: absolute;
        right: 0;
        top: 0;
        /* TODO: These should probably have a nicer background/color for hover / active states*/
        color: #a94442 !important;
        background-color: #FFF !important;
    }
    .icon-move {
        width: 50px;
    }
    /* Need to copy bootstrap styling for the dragged item,*/
    /* since it will not be inside a UL with appropriate classes*/
    &.gu-mirror {
        list-style-type: none;
        background-color: #eee;
        a {
            color: $lmc-blue;
            padding: 10px 15px;
            display: block;
        }
        &.active {
            background-color: $lmc-blue;
            a {
                color: #FFF;
            }
        }
    }
}

.exhibit-page {

  .quote {
    margin-bottom: 20px;

    blockquote {
      margin-bottom: 10px;
    }
  }

  .block-resize {
    position: absolute;
    right: -20px;
    bottom: 0;
    font-size: 2rem;
  }
}
