@media (max-width: $screen-sm - 1) {
  .home-header {
    padding-top: 8rem !important;
  }
}

.home-panels {
  position: relative;
  border: 1px solid #525252;
  border-radius: 1rem;
  overflow: hidden;
  transition: .2s ease-in-out all;
  margin-top: 1rem;
  margin-bottom: 1rem;

  &:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
            transform: scale(1.01);
  }

  .panel-link {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  img {
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .caption {
    position: relative;
    z-index: 1;
    background: rgba(#31393e, .65);
    padding: 3.5rem 3rem;

    h2, p {
      color: #fff;
      text-shadow: 0 1px 7px black;
    }

    h2 {
      margin-top: 0;
    }

    p {
      margin-bottom: 0;
      font-size: 1.6rem;
    }
  }
}

.collection-panel {
  background: #fff;
  border: 1px solid #ddd;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: .2s ease-in-out all;

  &:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
            transform: scale(1.01);
  }

  .panel-link {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .panel-img {
    position: relative;
    overflow: hidden;
    height: 160px;

    > img {
      min-width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }
  }

  .caption {
    padding: 0 5px;

    h4 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &.noTruncate h4 {
        white-space: normal;
    }
  }
}

.panel-search {
  background: none;
  border: none;
  border-radius: 0;
  max-width: 455px;
  text-align: left;

  .panel-heading {
    background: rgba(#27282C, .9);
    padding: 10px 15px;
    border-radius: 0;
  }

  .panel-body {
    background: rgba(black, .6);
    padding: 3.5rem 4rem;
  }

  /* Search bar styles in hero*/
  .btn-group {

    .form-control {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      font-size: 1.6rem;
      height: auto;
      min-height: 42px; //ie fix
      border-right: none;
    }

    > .btn-group {
      width: 65px;

      .btn {
        height: 42px; //ie fix
      }
    }
  }

  h1 {
    margin-top: 0;
    line-height: 1.6;
  }

  form {
    margin-top: 5rem;
  }

  a {
    color: #fff;
    text-decoration: underline;
  }
}

.panel-brand img {
  max-height: 65px;
}

#home-carousel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0;

  .carousel-inner {
    height: 100%;

    .item {
      height: 100%;

      .item-citation {
        position: absolute;
        right: 5px;
        bottom: 5px;
        background-color: #000;
        color: #FFF;
        padding: 0 2px;
        font-size: 1rem;
      }
    }
  }

  .carousel-inner > .item > img {
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: inherit;
  }
}

#home_featured_collections, #collections_results_cod {
  .thumbnail-container {
    background-color: #fff;
    padding: 0;
    overflow: hidden;
    position: relative;

    display: block;
    margin-bottom: 25px;
    line-height: 1.8;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: border 0.2s ease-in-out;

    .document-thumbnail > a {
      display: block;
      height: 20rem;
      overflow: hidden;
      position: relative;
      
      &:before,
      &:after {
        display: block;
        z-index: 1;
        position: absolute;
        opacity: 0;
      }

      &:before {
        background: rgba(0, 0, 0, 0.32);
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: .35s ease-in-out opacity;
      }

      &:after {
        content: 'view';
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-70%);
            -ms-transform: translate(-50%,-70%);
                transform: translate(-50%,-70%);
        padding: .5rem 2rem;
        border: 1px solid white;
        color: white;
        border-radius: 10px;
      }

      > img {
        min-width: 100%;
        min-height: 100%;
        max-width: initial;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
      }
    }
    
    > a:active {
      &:after {
        background-color: white;
        color: $lmc-blue;
      }
    }
  }

  .document-title-heading {
    > a {
      color: $lmc-grey;
      font-weight: 600;
    }
  }

  .caption.container {
    width: unset;
  }

  .caption {
    padding: 1rem;
    margin-top: 0 !important;

    .documentHeader {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  h4 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 40px;
  }

  .document-metadata {
    display: none;
  }

  #home_featured_collections_view_all {
    text-align: center;
  }
}

#home_featured_collections {
  #documents_collections {
    .document {
      flex: 1 1 calc(25% - 1rem);
    }

    @media (max-width: ($screen-md - 1)) {
      .document {
        flex: 1 1 100%;
      }
    }
  }
}

#collections_results_cod {
  h4 {
    display: none;
  }

  #documents_collections {
    display: flex;
    justify-content: center;

    .caption.container {
      width: unset;
    }
  }

  .document {
    width: 35%;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: $screen-xs-min) and (max-width: $screen-md-max) {
      width: 50%;
    }

    @media (max-width: $screen-xs - 1) {
      width: 47%;
    }
  }

  .thumbnail-container {
    background-color: #F2F1EA !important;
  }
}
