.full-screen-map {
    .no-padding {
        padding: 0;
    }

    .sidebar {
        padding: 10px 0;
    }
    @media (min-width: 992px) {
        .container-height {
            height: 85vh;

            &.col-md-2 {
                overflow: auto;
            }

            &.col-md-10 #map {
                height: 100% !important;
            }
        }
    }
}

.map-layer {
    padding: 10px 0 10px 0;
    border-color: lighten($lmc-grey, 50%);
    border-style: solid;
    border-width: 0 0 1px 0;

    label {
        padding-top: 7px;
        cursor: pointer;
    }

    input {
        position: relative;
        margin-right: 3px;
        top: -1px;
    }

    .detail-link {
        font-size: 13px;
        margin: -10px 0 5px;
    }

    .slider {
        width: 100%;
    }

    .slider-track {
        border: 1px solid #054571;
    }

    .slider-selection {
        background: #c4cbd0;
    }

    .map-slider-label {
        margin-bottom: -8px;
    }
}

.map-layer-info {
    padding: 0 20px;
}

.help {
    border-bottom: 1px solid lighten($lmc-grey, 50%);
}
