<% component = Blacklight::DocumentComponent.new(classes: 'col', component: :div, document: @presenter, counter: @counter) %> 
<%= render(component) do |component| %>
  <% component.with_body do %>
    <div class="thumbnail">
      <%= thumbnail %>

      <div class="caption">
        <%= title %>

        <%= helpers.galleries_toggle(view_context.instance_variable_get(:@galleries), 'repo_object', @document.id, show_tooltip: true) %>
      </div>
    </div>
  <% end %>
<% end %>
