html { 
	font-size: 62.5%; 
} 

body {
	padding-top: 0;
	font-size: 14px; 
	font-size: 1.4rem;
}

.container {
	position: relative;
}

.search-results-container {
  padding-top: 2rem;
}

img {
	max-width: 100%;
}