<dialog id="blacklight-modal" tabindex="-1" class="modal" role="dialog" aria-modal="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" data-turbo="true">
    </div>
  </div>
</dialog>
