section {
	padding-top: $section-padding;
	padding-bottom: $section-padding;
}

.section-blurb {
	max-width: 70%;
	text-align: center;
	margin: auto;
	margin-bottom: 2rem;
}

.section-title {

	> small {
		color: $lmc-blue-dark;
		display: block;
		font-size: 1.8rem;
		margin-bottom: 1rem;
	}
}