#img_show_container {
  padding: 2rem;
  background: white;
  position: relative;
  border: 1px solid #ddd;
  margin-bottom: 2rem;
  border-radius: 1rem;

  margin-left: 0 !important;
  margin-right: 0 !important;

  .img_show {
    position: relative;
    display: block;
    margin: auto;
    max-height: 75rem;
  }

  #img_show_canvas {
    padding: 0 !important;
    background-color: white !important;
  }
}

#harvested_item_show_container {
  text-align: center;

  #oai_item_link {
    margin-bottom: 25px;
  }
}

.show-tools {
  border: 1px solid #ddd;
  border-radius: 6px;

  .card-header {
    padding: 20px 15px;

    h2 {
      margin: 0;
      font-size: 16px !important;
    }
  }
}

.show-document {
  #appliedParams {
    float: right;
    margin: -24px 0 10px;

    a {
      background-color: unset;
      color: $link-color;
      text-decoration: none;
      font-size: 14px;

      border: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .pagination-search-widgets {
    display: block;
    padding: 5px 10px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: -30px 0 10px;
    min-height: 47px;
  }

  header {
    padding-top: 10px;
    padding-bottom: 5px;
    margin-left: -6px;
    margin-right: -6px;

    h1 {
      font-size: $font-size-h3;
    }
  }
}

#item_metadata {
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: white;

  h3 {
    margin: 0;
    padding: 20px 15px;
    font-size: 16px !important;

    border-bottom: 1px solid #ddd;
  }

  .document-metadata {
    padding: 15px;
    margin: 0;

    // hide the Permalink since it links to Digital Commonwealth
    .metadata-field-label_id_uri_ark, .metadata-field-value_id_uri_ark {
      display: none;
    }

    dt {
      text-align: right;

      @media (max-width: $screen-md - 1) {
        text-align: left;
      }
    }

    dd {
      margin-bottom: 0;
    }
  }

  #mods_link_wrapper {
    display: flex;
    justify-content: right;
  }
}

#explore_component {
  display: none;
}

#more_like_this {
  margin-bottom: 30px;

  #more_like_this_docs {
    padding-left: 10px;
    padding-right: 10px;

    .document {
      width: 25%;
      max-width: 25%;

      .thumbnail-container {
        background-color: #fff;
        padding: 0;
        overflow: hidden;
        position: relative;

        display: block;
        margin-bottom: 25px;
        line-height: 1.8;
        border: 1px solid #ddd;
        border-radius: 6px;
        transition: border 0.2s ease-in-out;

        .document-thumbnail > a {
          display: block;
          height: 20rem;
          overflow: hidden;
          position: relative;

          &:before,
          &:after {
            display: block;
            z-index: 1;
            position: absolute;
            opacity: 0;
          }

          &:before {
            background: rgba(0, 0, 0, 0.32);
            content: '';
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transition: .35s ease-in-out opacity;
          }

          &:after {
            content: 'view';
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%,-70%);
            -ms-transform: translate(-50%,-70%);
            transform: translate(-50%,-70%);
            padding: .5rem 2rem;
            border: 1px solid white;
            color: white;
            border-radius: 10px;
          }

          > img {
            min-width: 100%;
            min-height: 100%;
            max-width: initial;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
        }

        > a:active {
          &:after {
            background-color: white;
            color: $lmc-blue;
          }
        }
      }

      .document-title-heading {
        > a {
          color: $lmc-grey;
          font-weight: 600;
        }
      }

      .caption {
        width: auto;
        padding: 1rem;
        margin-top: 0 !important;

        .documentHeader {
          padding-top: 0;
          padding-bottom: 0;

          .document-counter {
            display: none;
          }
        }
      }

      .document-metadata {
        display: none;
      }

    }

  }

  #more_mlt_link_wrapper {
    text-align: center;
    position: relative;
    top: -15px; // a little hacky, but mlt docs have pesky extra height at bottom
  }
}

#allmaps-sidebar {
  border: 1px solid #ddd;
  border-radius: 6px;

  .card-header {
    padding: 20px 15px;

    h2 {
      margin: 0;
      font-size: 16px !important;
    }
  }

  .card-body {
    padding: 20px 15px;
  }

  .card-footer {
    padding: 20px 15px;

    background-color: #fff;
  }
}

#opacity_container {
  margin-top: 1rem;

  label {
    margin-right: 1rem;
  }
}

#img_viewer_modal .modal-footer {
  display: none;
}

#img_viewer_osd {
  padding: 0 !important;
}

.openseadragon-container {
  background-color: #000 !important;
}

#downloads_start_links {
  text-align: left;

  .btn {
    font-size: 1.3rem;
  }
}

.download-details {
  padding: 1rem;
  border-radius: 2px;
  background-color: $off-white;
}

#parent_preview_component {
  margin-top: 20px;

  #parent_preview_header {
    font-family: $font-family-serif;
    font-size: 18px;
  }
}

#mods_xml_display pre {
  padding: 15px;
  word-break: normal;
  white-space: pre-wrap;
}

.citation-content {
  margin-bottom: 20px;

  code {
    color: inherit;
  }
}

#item_feedback_form {
  .row {
    margin-bottom: 5px;
  }
}
