#img_show_zoom_cue {
    font-size: 25px !important;
    position: absolute !important;
    top: 15px !important;
    left: 15px !important;
    z-index: 100 !important;
    color: $link-color !important;
    background-color: transparent !important;
    box-shadow: none !important;
    right: unset !important;
}

.show-document {
    #multi_img_show_container {
        margin-bottom: 2rem;
        margin-left: 0 !important;
        margin-right: 0 !important;

        #multi_img_viewer_osd {
            padding: 1rem;
            border-radius: 1rem;
            height: 600px;
        }
    }
}

.carousel-control:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
