#img_show_zoom_cue {
    font-size: 25px !important;
    position: absolute !important;
    top: 15px !important;
    left: 15px !important;
    z-index: 100 !important;
    color: $link-color !important;
    background-color: transparent !important;
    box-shadow: none !important;
    right: unset !important;
}

.carousel-control:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
