#viewer-container {
  #allmaps_tabbed_viewer_tablist {
    .nav-link {
      color: $link-color;

      &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
      }

      &.active {
        color: $lmc-base;

        &:hover {
          color: $lmc-base;
          text-decoration: none;
        }
      }
    }
  }

  #img_show_container {
    border-top: none;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0 0 1rem 1rem;
  }

  #allmaps_container {
    padding: 2rem;
    background: white;
    position: relative;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    h3 {
      display: none;
    }

    #blacklight-allmaps-map {
      width: 100%;
      height: 600px;
    }
  }
}
