<% if query_has_constraints? %>
  <div class="top-panel-heading">
    <h2 class='facets-heading'>
      <%= t('search.facetsheading') %>
    </h2>
    <%= link_to t('blacklight.search.start_over'),
      start_over_path,
      :class => 'catalog_startOverLink pull-right',
      :id=> 'startOverLink' %>
  </div>

  <div class="panel panel-default facet_limit">
    <div class="facet-content">
      <div class="panel-body">
        <%= render_constraints(params) %>
      </div>
    </div>
  </div>
<% end %>