<% # container for all CoD collection documents in index view -%>
<div id="documents_cod" class="row gallery">
  <%= render :collection => documents, :as => :document, :partial => 'catalog/index_gallery_cod' %>
</div>