<% # main container for facets/limits menu -%>
<% if has_facet_values?  %>
  <div id="facets" class="sidebar filters">
    <h4 class="text-primary search-results-total"><%= @response.response[:numFound] %> Results</h4>

    <%= render 'constraints' %>
    <div class="top-panel-heading">
      <h2 class='facets-heading'>
        <%= t('blacklight.search.facets.title') %>
      </h2>
    </div>

    <div id="facet-panel-collapse" class="panel-group">
      <%= render_facet_partials %>
    </div>
  </div>
<% end %>
