<div class="more_like_this_document document col-sm-6">
  <div class="thumbnail">
    <%= link_to(create_thumb_img_element(document, %w(mlt_thumb)),
                url_for_document(document),
                :class => 'mlt_thumb_link',
                :title => document[blacklight_config.index.title_field.to_sym] ) %>
    <div class="caption">
      <h5 class="document-title-heading">
        <%= link_to_document(document,
            truncate(render_title(document),
              :length => 70,
              :separator => ' ',
              :omission => ' ...'), :class => 'mlt_title_link' ) %>
      </h5>
    </div>
  </div>
</div>
