<div id="argo_wrapper" class="panel panel-default">
  <div class="panel-body">
    <div id="argo_info_text">
      <%= I18n.t('argo.info') %>
    </div>
    <div id="argo_info_link_wrapper">
      <%= link_to I18n.t('argo.link'), argo_show_url, { id: 'argo_info_link', target: '_blank' } %>
    </div>
  </div>
</div>
