/**
 * Collections
 */
@import
  "catalog/facets",
  "catalog/results",
  "catalog/search-widgets",
  "catalog/document-preview",
  "catalog/sidebar",
  "catalog/bottom-right-panel",
  "catalog/modal",
  "catalog/book-viewer",
  "catalog/multi-img-viewer",
  "catalog/tabbed-img-viewer";
