.decor-compass {
	background-image: image-url('decor-compass.png');
	background-position: bottom -10rem right -4rem;
	background-repeat: no-repeat;
	background-size: 30rem;
}

.decor-map {
	background-image: image-url('decor-map.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.decor-map-harbor {
	background-image: image-url('decor-map-harbor.png');
	background-position: left -20rem center;
	background-repeat: no-repeat;
	background-size: 100%;
}