.panel {

	.panel-heading {
		background: none;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.panel-body {
		#argo_info_link_wrapper {
			margin-top: 10px;
		}
	}

	.panel-footer {
		background: none;
	}
}