.table {
	margin-bottom: 1rem;

	> thead {

		> tr > th {
			border-bottom: 1px solid #ddd;
			
		}
	}

	tbody {
		font-size: 1.4rem;

		tr {

			td {
				padding-top: 1rem;
				padding-bottom: 1rem;
				vertical-align: middle;
			}
		}
	}

	img {
		display: inline-block;
		max-width: 9rem;
		max-height: 9rem;
	}
}