@use 'bootstrap/scss/bootstrap';
@use 'bootstrap-icons/font/bootstrap-icons';
@use "blacklight-frontend/app/assets/stylesheets/blacklight/blacklight";

@use 'openseadragon';
@use "blacklight-gallery/app/assets/stylesheets/blacklight_gallery/_gallery";
@use "blacklight-gallery/app/assets/stylesheets/blacklight_gallery/_masonry";
@use "blacklight-gallery/app/assets/stylesheets/blacklight_gallery/_slideshow";
@use "blacklight-gallery/app/assets/stylesheets/blacklight_gallery/_osd_viewer";

$fa-font-path: ".";
@use "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@use "@fortawesome/fontawesome-free/scss/solid.scss";
@use "@fortawesome/fontawesome-free/scss/brands.scss";
@use "@fortawesome/fontawesome-free/scss/regular.scss";

@import url('https://cdn.jsdelivr.net/gh/boston-library/commonwealth-vlr-engine@blacklight-8/app/assets/builds/commonwealth-vlr-engine.css');
@import "universalviewer/dist/esm/index";

/**
 * Vendors
 */
@use
  "vendors/bs/bootstrap",
  "vendors/toastr",
  "vendors/dragula",
  "vendors/trix",
  "vendors/sir-trevor",
  "vendors/leaflet.draw",
  "vendors/leaflet.opacity",
  "bootstrap-switch",
  "fontello",
  "animation";
//   "bootstrap-slider",
//   "blacklight_maps";

/**
 * Utils
 */
@use
  "utils/bs-variables",
  "utils/lmc-variables";

/**
 * Base
 */
@use
  "base/base",
  "base/helper-classes";

/**
 * Layout
 */
@use
  "layout/navigation",
  "layout/header",
  "layout/section",
  "layout/footer";

/**
 * Components
 */
@use
  "components/animations",
  "components/alerts",
  "components/typography",
  "components/call-to-action",
  "components/contenteditable",
  "components/decoration",
  "components/images",
  "components/form",
  "components/table",
  "components/panel",
  "components/gallery",
  "components/list-group",
  "components/buttons",
  "components/well",
  "components/navs",
  "components/pager",
  "components/metadata",
  "components/media-preview",
  "components/bootstrap-switch",
  "components/helper",
  "components/featured-collection",
  "components/search-header",
  "components/map-editor-tools",
  "components/map-sets",
  "components/catalog",
  "components/sirtrevor-overrides",
  "components/leaflet-map",
  "components/external-image",
  "components/reproductions",
  "components/show_sidebar";

/**
 * Pages
 */
@use
  "pages/user_auth",
  "pages/home",
  "pages/dashboard",
  "pages/collection",
  "pages/map_layers";

/**
 * blacklight-allmaps
 */
// @use 'blacklight-allmaps/app/assets/stylesheets/blacklight/allmaps/base';
// can't use allmaps/base from npm package -- paths do not resolve
// instead, contents copied below with modified paths
@use "leaflet/dist/leaflet";
@use "leaflet-fullscreen/dist/leaflet.fullscreen";

#blacklight-allmaps-map { height: 400px; }